
</div>


<footer>
    <div class="social-tags">
      <a href="https://www.facebook.com/Bradavice.online">
        <i class="social-media-icon fab fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com/bradavice__online/">
        <i class="social-media-icon fab fa-instagram"></i
      ></a>
      <a href="https://www.youtube.com/channel/UCIcGyAwRjvMJVF40z8nrNsA">
        <i class="fab fa-youtube"></i>
      </a>
    </div>

    <p class="copyright">Veškeré obrázky a materiály týkající se románů J.K.Rowlingové © Albatros</p>
    <p class="copyright">Veškeré materiály týkající se "Harry Potter" filmů © Warner Bros</p>
    <p class="copyright">© Copyright 2020 Bradavice online</p>
  </footer>

  <script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
  $("#summernote").summernote({
    placeholder: "Text příspěvku",
    height: 300,
    toolbar:     [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
  }
  )
</script>
</body>
</html>
