<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bradavice online</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-76SXSTQEMH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-76SXSTQEMH');
    </script>

    <!-- Styles -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Google Fonts -->

    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&family=Arima+Madurai:wght@900&family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/869aa3ac96.js"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery -->
    <script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>

  </head>
  <body>
    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Bradavice online</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Domů <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">Novinky</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about-game">O hře</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/how-to-connect">Jak se připojit</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Stahování</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="https://bradavice-online.forum.st/">Forum</a>
            </li>
            <li class="nav-item">
              <div class="social-tags-nav">
                <a href="https://www.facebook.com/Bradavice.online">
                  <i class="social-media-icon fab fa-facebook-f"></i
                ></a>
                <a href="https://www.instagram.com/bradavice__online/">
                  <i class="social-media-icon fab fa-instagram"></i
                ></a>
                <a href="https://www.youtube.com/channel/UCIcGyAwRjvMJVF40z8nrNsA">
                  <i class="fab fa-youtube"></i>
                </a>
                <a href="https://discord.gg/wqkH3mdPu5">
                  <i class="social-media-icon fab fa-discord"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>