<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <div class="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%233F51B5&ctz=Europe%2FPrague&showPrint=0&showTz=0&showTabs=0&title=Harmonogram&showDate=1&showCalendars=0&showTitle=0&showNav=1&src=Ym8uaGFybW9ub2dyYW1AZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=Y3MuY3plY2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23AD1457&color=%2333B679&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>


<%- include("partials/footer") %> 