<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <h1 class="connection-heading">Jak se připojit do hry</h1>
        <div class="connect-section">
            <h4>1. Stažení hry World of Warcraft</h4>
            <p>Pro připojení do hry Bradavice online bude potřebovat nejprve hru World of Warcraft s datadiskem Wrath of the Lich King ve verzi 3.3.5a. Pokud již WoW máte, pokračujte bodem 2. Pokud hru World of Warcraft ještě nemáte, potom si ji můžete stáhnout na některém z následujících odkázů:</p>
                <a href="https://mega.nz/#F!qZZDEKSL!sgHakKcCNcuA7pXjxCOUGw">Zdroj 1 (MEGA)</a>
                <a href="magnet:?xt=urn:btih:b296ea8947b36c68f6e022f5a642ecc406ad8968&dn=World+of+Warcraft+3.3.5"> Zdroj 2 (Torrent)</a>
            <h4>2. Stažení našich vlastních patchů</h4>
            <p>Jakmile máte staženou hru World of Warcraft s datadiskem WOTLK 3.3.5a je potřeba ji následně opatchovat našimi vlastními patchi. Proto si stáhněte následující patche: </p>
                <a href="https://mega.nz/file/ElN2GaQZ#Ca5fwZU7KPy7IkCHOZ2Qp88YsBpauuenSVovGZrYSZY">Patch-H</a>
                <a href="https://mega.nz/file/oo13yQpL#kmUIDI2CxHOj-XxiIJG0sPwLg00gRVCaYRu_p8MDA7s">Patch-P</a>
                <a href="">Patch-S</a></li>
                <a href="">Patch-T</a></li>
            </ul>
            <h4>3. Instalace našich patchů a nastavení hry</h4>
            <h5>a) instalace patchů</h5>
            <p>Všechny výše stažené patche (tedy <em>patch-H.MPQ, patch-P.MPQ, patch-S.MPQ a patch-T.MPQ</em>) nyní zkopírujeme do složky Data, kterou najdete ve složce se hrou World of Warcraft</p>
            <img class="connect-img" src="/images/how-to-connect/img1.jpg" alt="window with Data folder">
            <p>Další nutností pro řádnou instalaci hry Bradavice online je stažení našeho vlastního souboru <b>bradavice.exe:</b></p>
            <a href="https://mega.nz/file/R9UUmApR#nL9p6Vm1HkmTB-_BnoLngtOyhDiN70KDW1qGIQPmUHE">bradavice.exe</a>
            
            <p>Tento stažený soubor vložíte přímo do složky se hrou World of Warcraft, tedy tam kde je i spouštěcí soubor wow.exe.</p>
            <h5>b) nastavení realmlistu</h5> 
            <p>Ve složce se hrou najdete podsložku DATA, v této podsložce se nachází podsložka enGB/enUS, kde
                najdete soubor realmlist, ten otevřete v poznámkovém bloku, a nakopírujete do něj text: <em><b>set
                realmlist 46.13.99.195.</b></em></p>
            <img class="connect-img" src="/images/how-to-connect/img2.jpg" alt="window with realmlist">
            <p>Pro přihlášení se do hry jako login použijte <b>KŘESTNÍ JMÉNO</b> své postavy a heslo, které jste uváděli při
                registraci</p>
            <img class="connect-img" src="/images/how-to-connect/img4.jpg" alt="login screen">
            <h5>c) nastavení addonů</h5>
            <p>Nakonec je ještě potřeba správně nastavit addony. Pro správné zobrazení ikonek itemů v batohu si po přihlášení v možnosti <em><b>ADDONS</b></em> (najdete je u výběru
                postav v levém dolním rohu) zaklikněte <b>načíst i staré addony.</b></p>
            <img class="connect-img" src="/images/how-to-connect/img3.jpg" alt="">
        </div>
    </div>
</div>


<%- include("partials/footer") %> 