<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <h1 class="connection-heading">Jak hrát správně RP</h1>
        <div class="connect-section">
            <p>Základním předpokladem pro účast na hře v Bradavicích online je hrát RP. Věříme, že mnozí z Vás se už s tímto stylem hry
                 setkali, ale rádi bychom pro jistotu některé základní principy RP shrnuli do takového „manuálu“, díky kterému se 
                 dozvíte, jak na to, a jak na to správně:</p>
            <ol>
                <li><p><b>RP znamená role playing</b> - u nás v Bradavicích budete hrát za svou postavu, nikoliv sami za sebe. 
                    Před prvním přihlášením se do hry je dobré mít rozmyšlené základní charakteristiky své postavy: <em>Jaká je? 
                    Jaké má vlastnosti? Co už ve svém životě zažila? Z jaké pochází rodiny</em> (v kouzelnickém světě rozlišujeme 
                    rodiny čistě kouzelnické, mudlovské a smíšené, kdy část je kouzelnická a část je mudlovská)? <em>Má sourozence? 
                    Co si přeje do budoucna? Čeho se bojí? Co má naopak ráda, jak tráví volný čas?</em></p>
                    <p>V době prvního přihlášení se do hry je Vaší postavě 11 let, tudíž je potřeba odpovědi na tyto otázky věku 
                    postavy přizpůsobit a vžít se do života mladého kouzelníka
                    </p></li>
                <li><p><b>Nepřenášejte vlastní emoce na svou postavu.</b> Pokud jsem já, osoba za počítačem, v reálu naštvaná/ý, 
                    neznamená to, že bude naštvaná i moje postava, pokud k tomu nemá herní důvod. Herním důvodem může být 
                    například to, že se postava špatně vyspala, měla zlé sny, anebo se jí něco nepovedlo.</p></li>
                <li><p><b>Oddělujte herní svět od světa reálného.</b> Vaše postava žije v jiném roce než vy, reálie její doby se tedy 
                    velmi odlišují od doby, ve které nyní žijeme my. Po prvním přihlášení se a absolvování průvodního tutoriálu 
                    se postava objevuje v Londýně, je proto taky výhodné si rozmyslet, jestli tam už postava někdy byla, nebo je 
                    tam poprvé, jestli vůbec pochází z Anglie, anebo pokud pochází z jiné země, znát nějaké základní reálie z místa 
                    jejího bydliště. Vytvoří to větší dojem autenticity. Obecně je dobrý nápad popřemýšlet nad reáliemi roku 1995, 
                    ve kterém se první rok na našem serveru budeme nacházet: zamyslet se nad tím, které známé osobnosti v této době 
                    žily, jaké stavby stály, jaká byla situace ve světě. 
                    <!-- Pro více informací o reáliích našeho serveru navštivte náš 
                    článek na toto téma (proklik na článek od Cyrila).--></p></li>
                <li><p><b>Pokuste se vžít do chování 11leté postavy.</b> Je to dítě, jako dítě by tedy měla i působit. 
                    Nezapomínejte na respekt k dospělým.</p></li>
                <li><p><b>Držte se příběhu, který jste si pro svou postavu vymysleli</b> – jejích vlastností, charakteru, temperamentu. 
                    Pokud je postava spíše odtažitá, pravděpodobně nebude vyhledávat velké skupiny lidí a bude navazovat vztahy 
                    spíše pomalu.</p></li>
                <li><p><b>Vaše postava nemusí být vždy ve všem nejlepší.</b> Základním receptem pro stvoření reálného a uvěřitelného 
                    charakteru je, že postavě některé věci půjdou více a jiné naopak méně. Poslední co ve hře potřebujeme je 
                    armáda Einsteinů, Supermanů anebo Zlatoslavů Lockhartů. Nikdo u nás není v roli hlavního hrdiny a spoluhráči 
                    vám za „všeumělské chování“ vděční také nebudou.</p></li>
                <li><p>Ve hře se někdy může stát, že vidíme anebo slyšíme věci, které se dějí ve vedlejších místnostech, 
                    i přesto že tyto místnosti mají zavřené dveře. Je důležité myslet na to, že pokud se naše postava nachází 
                    mimo místnost, těžko může vědět, co se tam odehrává. Postava může například zaslechnout nějaké neurčité zvuky, 
                    ale určitě poté nebude znát celý obsah rozhovoru, který tam probíhal. Některé rozhovory se odehrávají šeptem (emot), 
                    je nutné potom zvážit, jestli je naše postava dost blízko na to, aby něco slyšela.</p></li>
                <li><b>EMOTY</b><p>Emoty se u nás píšou přes /e (mezera) text. Píšeme je ve tvaru /e (mezera) se zamračila a ve hře to poté 
                    vypadá následovně: <em>„Minerva McGonagallová se zamračila."</em><br>
                    Přijatelnou variantou je i možnost napsat emot za text do hvězdiček (*usmála se*).
                    </p>
                    <p>Do emotů píšeme pouze skutečnosti, které při kontaktu s ostatními mohou být na naší postavě OPRAVDU patrné a viditelné.<br>
                        Nebudeme psát: <em class="wrong">Postava už má hlad a myslí na oběd.</em><br>
                        → Protože při kontaktu s ní nikdo jiný nemůže vědět, že má hlad a na co myslí, pokud mu to postava sama neřekne.<br>
                        Jak to udělat správně? Zamyslet se nad tím, co patrné být může, například: <em class="right"> Postava vypadá nervozně/rozmrzele. Postavě zakručelo v břiše.</em>
                        </p>
                    <p><b>Další příklady špatného emotování:</b><p>
                    <p><em class="wrong">Mrzí ho, že musí odjet.</em><br>
                     Správná varianta: <em class="right">Vypadá smutně. Lesknou se mu oči slzami.</em>
                    </p>
                    <p><em class="wrong">Kouká z okna, jak venku jezdí auta.</em><br>
                        Správná varianta: <em class="right">Kouká z okna. Vypadá, že sleduje dění venku.</em>
                        </p>
                    <p><b>A nyní příklady špatných emotů, které jsme zaregistrovali v rámci Exkurze do Bradavic a Vánoční akce:</b></p>
                    <p><em class="wrong">Snaží se si to zapamatovat.</em><br>
                        → Pokud se s takovou postavou setkáme, těžko můžeme odhadnout, že si zrovna snaží něco zapamatovat, 
                        nemáme šanci to poznat.<br>
                        Správná varianta: <em class="right">Vypadá jakože usilovně přemýšlí. Usilovně krčí čelo a vypadá soustředěně.</em>
                        </p>
                    <p><em class="wrong">Přemýšlí, kde by mohl sehnat tlustočerví sliz.</em><br>
                        → Nemůžeme jen tak od pohledu poznat, o čem postava přemýšlí.<br>
                        Správná varianta: <em class="right">Vypadá zamyšleně. Vypadá, jakože usilovně přemýšlí.</em>
                        </p></li>
                    <li><p>V rámci RP nepoužíváme žádné zkratky (například jj, idk, nn, wtf apod.) ani smajlíky!</p></li>
                    <li><p>Pokud potřebujeme na chvíli odběhnout anebo úplně odejít od počítače, nebudeme psát afk, ale vymyslíme si 
                        nějakou uvěřitelnou herní výmluvu. Například že si naše postava potřebuje odskočit na toaletu a poté postavu 
                        zavedeme do koupelny. Možností je spousta.</p></li>
                    <li><p>Nepoužíváme věci, které naše postava reálně nemá, anebo je zrovna nemá u sebe. Nebudeme emotovat, že 
                        nasedáme na koště, pokud naše postava žádné koště nemá. Nevytáhneme si hůlku, pokud ji postava nemá, anebo 
                        si ji například nechala uloženou ve skříni na pokoji v Děravém Kotli.</p></li>
                    <li><p>Pozor na reálnost situací, které hrajeme. Pokud s sebou postava táhne plný kufr, ve kterém se nachází i 
                        kotlík a učebnice do školy, jak dlouho asi vydrží s takovým kufrem běžet? Pokud venku sněží, a naše 
                        postava nemá kabát, nebude jí trochu zima?</p></li>
                    <li><p>Neseme zodpovědnost za osud své postavy. To znamená, že pokud se postava bude chovat k nějakému profesorovi 
                        neuctivě, může se stát, že to bude mít následky – ať už ve formě školního trestu anebo „jen“ nelibosti 
                        daného profesora. Pokud naše postava spadne z Astronomické věže, pravděpodobně to nepřežije. 
                        Pokud naše postava vběhne do Zapovězeného lesa, hrozí, že se už lesa nevrátí, 
                        anebo se nevrátí ve stejném stavu (těla i mysli).</p></li>
                    <li><p> <b>NonRP mluvení</b> – když potřebujeme říct něco mimo rámec RP, používáme pro toto sdělení závorky. 
                        Neslouží to pro diskuzi o počasí, ale nejčastěji pro případ, že GM potřebuje něco vysvětlit, například sdělit, 
                        jakým způsobem má hráč připravovat lektvar, pokud se mu to evidentně nedaří. Ve hře to bude vypadat následovně: 
                        <em>(Klikni pravým tlačítkem na hmoždíř a potom na surovinu.)</em> Ostatní hráči, kteří text v závorkách vidí na něj nijak 
                        nereagují a v RP rovině hry jakoby se to nestalo.</p></li>
                    </ol>
                <b>Pro tip nakonec:</b><p> Snažili jsme se pro vás vymyslet dostatek možností (například na bázi questů, ale i jiných), 
                        kterými se dá ve hře zabavit i mimo plánované akce a vyučování. Pokud by se ale navzdory tomu náhodou stalo, 
                        že budete mít pocit, že pramen zábavy vyschnul, a ve hře se už nic zajímavého neděje, nezapomeňte, že se 
                        můžete zabavit i mezi sebou - interakcí s ostatními hráči.</p>
            </ol>
        </div>
    </div>
</div>


<%- include("partials/footer") %> 