<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <h1 class="connection-heading">Jak se připojit do hry</h1>
        <div class="connect-section">
            <h4>1. Stažení klienta Bradavice online (doporučené)</h4>
            <p>Pro usnadnění instalace jsme pro Vás připravili speciálního klienta, tedy hru World of Warcraft se všemi našemi úpravami. Klienta si můžete stáhnout z následujících odkazů</p>
            <a class="button-link" href="https://mega.nz/file/05NHlaQK#8zG-37Ce06OkuipjshRvMFgpPnSGYN4CtDNIXFkGXaE">Zdroj 1 (MEGA)</a>
            <a class="button-link" href="https://drive.google.com/file/d/1djnhn48aR5lbC182BROwJDUaD_k_lrzR/view?usp=sharing">Zdroj 2 (Google Drive)</a>
            <p>Staženého klienta rozbalte kamkoliv uznáte za vhodné. Následně je třeba hru spustit přes náš BO Launcher. Ten najdete ve složce se hrou, v podsložce BO Launcher a spustíte ho souborem <i>"BO Launcher.exe"</i>.
                BO Launcher Vám vždy před spuštěním hry zkontroluje, zda máte aktuální patche, a pokud ne, příslušné patche stáhne. <b>Proto je třeba vždy spouštět hru přes BO Launcher!</b>
            </p>
            <img class="connect-img" src="/images/how-to-connect/img5.jpg" alt="window with BO Launcher folder">
            <p>Pokud se Vám podařilo nainstalovat hru výše uvedeným způsobem, pokračujte bodem 3.</p>

            <h4>2. Nastavení jiného klienta</h4>
            <h5>a) stažení klienta</h5>
            <p>Pokud z jakéhokoliv důvodu nechcete použít našeho klienta, je potřeba si obstarat hru World of Warcraft s datadiskem Wrath of the Lich King ve verzi 3.3.5a.
                 Pokud již WoW máte, pokračujte písm. b). Pokud hru World of Warcraft ještě nemáte, potom si ji můžete stáhnout pomocí některého z následujících odkazů:</p>
                <a class="button-link" href="https://mega.nz/file/c5VHUQCY#pyhv5KSdjYRuUj9k04Dm0p54P1-CT6gIU_vm4mLH6_M">Zdroj 1 (MEGA)*</a>
                <a class="button-link" href="magnet:?xt=urn:btih:5B65D1928A3025A820B45E6DB2451AAAABC5347C&dn=World%20of%20Warcraft%203.3.5a&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce"> Zdroj 2 (Torrent 1)</a>
                <a class="button-link" href="https://download.sunwell.pl/Sunwell.pl-World-of-Warcraft-Win.torrent"> Zdroj 3 (Torrent 2)</a>
                <a class="button-link" href="magnet:?xt=urn:btih:f1b17acd1f47c017c2238ed9c21af7aec69c1d1a&dn=World.of.Warcraft.3.3.5a.Truewow&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Fzer0day.ch%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fpublic.popcorn-tracker.org%3A6969"> Zdroj 4 (Magnet)</a>
                <p class="input-description">*Heslo: 3server</p>
            <h5>b) stažení a instalace stabilních patchů</h5>
            <p>Jakmile máte staženou hru World of Warcraft s datadiskem WOTLK 3.3.5a je potřeba ji následně opatchovat našimi vlastními patchi. Tyto patche se budou měnit velmi vyjímečně, a proto je náš 
                BO Launcher nehlídá a je nutné je do hry vložit manuálně. Stáhněte si tedy následující stabilní patche: </p>
                <a class="button-link" href="https://drive.google.com/file/d/1iQ3lcunDUenAeMaeby8tR0ZbgXp3jlcq/view">Patch-M (Zdroj 1 - Google drive)</a></li>
                <a class="button-link" href="https://mega.nz/file/11lAWKzA#LIFEmihChR77kGh0v0WO4cjhees9NY0zRyJX83y6dL4">Patch-M (Zdroj 2 - MEGA)</a></li>
            </ul>

            <h5>c) instalace stabilních patchů</h5>
            <p>Všechny výše stažené patche (momentálně tedy pouze <em>patch-M.MPQ</em>) zkopírujeme do složky Data, kterou najdete ve složce se hrou World of Warcraft</p>
            <img class="connect-img" src="/images/how-to-connect/img1.jpg" alt="window with Data folder">
            <p>Další nutností pro řádnou instalaci hry Bradavice online je stažení zvláštního souboru <b>Wow.exe:</b></p>
            <a class="button-link" href="https://mega.nz/file/R9UUmApR#nL9p6Vm1HkmTB-_BnoLngtOyhDiN70KDW1qGIQPmUHE">Wow.exe</a>
            <p>Tento stažený soubor vložíte přímo do složky se hrou World of Warcraft, a necháte ho přepsat.</p>

            <h5>d) nastavení realmlistu</h5> 
            <p>Ve složce se hrou najdete podsložku DATA (jedná se o tutéž složku, do které jsou nyní vloženy naše patche), v této podsložce se nachází podsložka enGB (nebo enUS), kde
                najdete soubor realmlist, ten otevřete v poznámkovém bloku, a nakopírujete do něj text: <em><b>set realmlist server.bradavice-online.cz:3727</b></em></p>
            
                <img class="connect-img" src="/images/how-to-connect/img2.jpg" alt="window with realmlist">

            <h5>e) stažení a instalace našeho BO Launcheru</h5>
            <p>Pro správné fungování hry je třeba stáhnout a nainstalovat náš vlastní BO Launcher, a to pomocí odkazu níže:</p>
            <a class="button-link" href="https://bradavice-online.cz/patches/BO-Launcher.rar">BO Launcher</a></li>
            <p>Soubor rozbalte a nainstalujte přímo do složky se hrou World of Warcraft. Spustíte ho přes soubor <i>"BO Launcher.exe"</i>, který najdete ve složce se hrou v podsložce BO Launcher, případně by se
                Vám měl vytvořit zástupce i na ploše.
                BO Launcher Vám vždy před spuštěním hry zkontroluje, zda máte aktuální patche, a pokud ne, příslušné patche stáhne. <b>Proto je třeba vždy spouštět hru přes BO Launcher!</b></p>
            <img class="connect-img" src="/images/how-to-connect/img6.png" alt="window with instalation process of BO Launcher">

            
            <h4>3. Přihlašení do hry a úvodní nastavení</h4>
            <p>Pro přihlášení se do hry jako login použijte login a heslo, které jste uváděli při
                registraci</p>
            <p>Dále je potřeba správně nastavit addony. Pro správné zobrazení ikonek itemů v batohu si po přihlášení v možnosti <em><b>ADDONS</b></em> (najdete je u výběru
                postav v levém dolním rohu) zaklikněte <b>načíst i staré addony.</b></p>
            <img class="connect-img" src="/images/how-to-connect/img3.jpg" alt="">
            <h4>4. Vytvoření postavy</h4>
            <p>Při vytváření postavy je třeba se ujistit, že je vybrána rasa <b>Člověk</b> a povolání <b>Kouzelník</b>. Jméno postavy zvolte jako <b>příjmení</b>, které jste uvedli při registraci.
                V případě, že již takové jméno existuje, použijte <b>křestní jméno</b> postavy, případně kontaktujte podporu na Discordu.
            Nakonec při vytváření studenta nezapomínejte na to, že mu je 11 let, a tedy mu ještě nemohou růst vousy. Proto si ani žádné vousy nevybírejte.</p>
            <img class="connect-img" src="/images/how-to-connect/img4.jpg" alt="login screen">
        </div>
    </div>
</div>


<%- include("partials/footer") %> 