<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bradavice online</title>

    <!-- Styles -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <!-- Google Fonts -->

    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&family=Arima+Madurai:wght@900&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/869aa3ac96.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background-color: #1a1a2e">
    <div class="content" id="login">
      <a href="/"><h1 class="login-header">Bradavice online</h1></a>

      <div class="login-section">
        <h3>Přihlášení</h3>
        <form action="/login" method="POST">
          <input
            class="form-control login-input"
            type="text"
            name="username"
            id=""
            placeholder="Uživatelské jméno"
          />
          <input
            class="form-control login-input"
            type="password"
            name="password"
            id=""
            placeholder="Heslo"
          />
          <p class="error-message"><%=errorMessage%> </p>
          <button
            class="btn btn-lg btn-danger btn-login btn-block"
            type="submit"
          >
            Přihlásit se
          </button>
          <p>Nemáš ještě účet? <a href="/register">Zaregistruj se</a></p>
        </form>
      </div>
    </div>

    <footer>
      <div class="social-tags">
        <a href="https://www.facebook.com/Bradavice.online">
          <i class="social-media-icon fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/bradavice__online/">
          <i class="social-media-icon fab fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCIcGyAwRjvMJVF40z8nrNsA">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p>Tento weby využívá plugin Google Analytics, který zpracovává anonymní data o návštěvnosti webu. O zpracování soukromých dat viz <a href="https://policies.google.com/technologies/partner-sites">zde</a></p>
      <p class="copyright">Veškeré obrázky a materiály týkající se románů J.K.Rowlingové © Albatros</p>
      <p class="copyright">Veškeré materiály týkající se "Harry Potter" filmů © Warner Bros</p>
      <p class="copyright">© Copyright 2020</p>
    </footer>
  </body>
</html>
