<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <h1 class="connection-heading">Svět serveru Bradavice online</h1>
        <div class="connect-section">
            <p>Tento článek vznikl z důvodu objasnění zasazení našeho světa do kontextu příběhů Harryho Pottera a vymezení 
                se vůči nim. Nenacházíme se totiž v úplně totožném universu, jaké můžete znát z HP filmů a knih. Prostředím, 
                lokacemi, které tak dobře známe a milujeme se BO příliš neliší – máme místa jako Bradavice, Prasinky, 
                Malý Visánek, Godrikův důl, Londýn a podobně, ale pokud jde o postavy, tak tady se nachází největší rozdíly.</p>
            <p>Po prvním přihlášení se do hry se ocitnete v roce 1995. Kouzelnický svět je nyní už 10 let po „Velkém povstání“, 
                které vzniklo v důsledku činnosti kouzelníka jménem Garrett Berringer. Berringer celkově nebyl spokojený s 
                uspořádáním kouzelnického světa a přinesl několik revolučních myšlenek, za jejichž realizaci dlouhodobě bojoval. 
                Za nejdůležitější považoval rovnost mezi kouzelníky a mudly a pohrával si s ideou svět kouzelníků i mudlů propojit. 
                Ministerstvo toto však kategoricky odmítalo, argumentovalo tím, že odhalení kouzelnického světa mudlům by způsobilo 
                válku, nepokoje, snahu o zotročení kouzelníků mudly a nehodlalo nic takového riskovat. Berringer dále velmi ostře 
                vystupoval proti systému výuky v Bradavické škole čar a kouzel, měl za to, že škola studenty dostatečně neučí 
                samostatně myslet, bránit se a rozvíjet své nejsilnější stránky, i za cenu že by to byly stránky směřující k temnotě. 
                Berringerovy myšlenky rozdělily kouzelnický svět na dvě poloviny, měl mnoho příznivců, ale i odpůrců. V průběhu času 
                se ale situace postupně začala vymykat z rukou, nejradikálnější část Berringerových příznivců začala napadat a 
                pronásledovat stoupence Ministerstva, kteří reprezentovali opačné názory. Tato nestabilní situace dne 23. února 
                1985 vyvrcholila v napadení Ministerstva kouzel Berringerovými povstalci.</p>
            <p>Povstání se povedlo za pomoci přivolaných bystrozorů, ministryně kouzel Millicent Bagnoldové a ředitele 
                Bradavické školy Albuse Brumbála potlačit. Povstalci, kterým se nepodařilo z Ministerstva dostatečně rychle 
                uprchnout byli zatčeni a dále souzeni, někteří byli dokonce uvězněni v Azkabanu. Na Berringera samotného byl 
                vydán zatykač, nicméně dosud nebyl dopaden. Berringer se útoku na Ministerstvo neúčastil, povstání nevedl a 
                od té doby, co jeho myšlenky nabraly tak radikálního rázu se stáhl do ústraní a na veřejnosti se již více neukazoval. 
                Kde se nyní nachází nikdo neví, stále je však vypsána tučná odměna pro toho, kdo ho dopadne a na Ministerstvo dovede. 
                I přes drtivou porážku Berringerových povstalců jeho myšlenky ve společnosti stále zůstávají a jeho příznivci se 
                občas tajně scházejí a formují nové skupiny, které však čítají jen několik málo členů, protože jsou stále 
                pronásledovaní Ministerstvem. Situace, která měla potenciál vyvrcholit ve válku mezi kouzelníky, již utichla a 
                kouzelnický svět se nyní opět ocitá v mírovém období. Ministerstvo však zůstává bdělé k jakýmkoliv náznakům, 
                že by se něco podobného mohlo opakovat a je připraveno nekompromisně zakročit.</p>
            <p>To by bylo něco k historickému podtextu našeho serveru. Co se týče postav z HP, tak většinu z nich u nás nepotkáte. 
                BO se naprosto distancuje od příběhu HP 1-7, tudíž žádný Harry, Ron, Hermiona ani Voldemort zde neexistují a 
                nikdy ani nežili. Z postav, které můžete znát z HP se v našem světě vyskytují především učitelé jako Snape, 
                Prýtová, McGonagallová, Hoochová,.. a samozřejmě Brumbál. Ministrem kouzel je v roce 1995 Kornelius Popletal. 
                Co se týče mudlovských postav, tak všechny celebrity, které v tomto roce žily u nás existují, vaše postavy se 
                tudíž klidně mohou bavit o kapelách jako jsou Oasis nebo Green Day, samozřejmě si ale musíte uvědomit, že čistě 
                kouzelnické rodiny se pravděpodobně o mudlovské celebrity zas tolik nezajímají, ale to už je na vás. 
                Svět HP filmů a knížek na našem serveru tedy neuvidíte. Píšeme si vlastní příběh, do kterého budete mít 
                velkou možnost zasáhnout i vy! Příběh se bude rozvíjet v rámci ročníkových akcí, mimoročenkového příběhu, 
                novinových článků atd.. Kam tento svět bude směřovat dál tedy z velké míry závisí i na vás. Kam vaše cesta 
                povede, to už se necháme všichni překvapit ve hře.</p>
        </div>
    </div>
</div>


<%- include("partials/footer") %> 