<%- include("partials/header") %>
<div class="content">
    <div class="container">
        <h1 class="connection-heading">Ročenka: Co to je a na co to máme?</h1>
        <div class="connect-section">
            <p>Ročenka, neboli ročníková akce je příběh vymyšlený a moderovaný GM týmem, 
                který se rozvíjí a odvíjí po celou dobu školního roku v Bradavicích. 
                Zpravidla na konci ročníku dospěje ke svému vyvrcholení; to, co mělo být odhaleno, bude odhaleno a 
                příběh je zakončen. Další školní rok poté většinou rozehráváme příběh úplně jiný, anebo příběh na 
                původní dějovou linku navazující.</p>
            <h5>Proč to děláme?</h5>
            <p>Inspirací pro vznik ročenek samozřejmě jsou příběhy HP jak je známe- tajemná dobrodružství specifická pro každý 
                jednotlivý díl napínající čtenáře/ diváky jako kšandy. A přesně toho se snažíme docílit taky – tedy chceme, 
                aby hráče školní rok v Bradavicích-online bavil, aby měli možnost se do příběhu zapojit a aby kromě výuky, 
                interakcí se spolužáky a s profesory zažili i notnou dávku dobrodružství, která je podle nás esenciální a 
                má potenciál celou hru a hlavně RP hru táhnout.</p>
            <h5>Jak se můžu zapojit?</h5>
            <p>Jednoduchá věc – sledovat, co se děje a být u toho, a samozřejmě hrát kvalitně RP, za to jsme vždycky moc rádi, 
                zapojit se může úplně každý hráč. Většina ročenek se rozjíždí už o prázdninách v Děravém Kotli, 
                případně v Příčné ulici. Často to jsou různě nápadná vodítka, která hráči mohou sledovat a nechat se jimi vést, 
                případně jít úplně proti, anebo se spolčit se záporákem, pokud o takové spolčení se záporák stojí, 
                v rámci RP se fantazii meze nekladou.</p>
            <h5>Na čem to krachuje?</h5>
            <p>Největším problémem s ročenkou v minulém běhu serveru byl kolísající počet hráčů ve dnech, kdy se věci důležité pro 
                ročenku odehrávaly. Stávalo se potom, že přehled o vývoji situace v rámci ročenky měla jen velmi malá skupina hráčů 
                a celý příběh tak přišel o svůj potenciál se plně vyvinout a zapojit co největší množství hráčů.</p>
            <h5>Dáte mi vědět, že se ročenka právě odehrává, jak to poznám?</h5>
            <p>S novým školním rokem v Bradavicích přicházíme s nápadem „harmonogramu“ roku, kde bychom rádi vyznačili dny, 
                ve kterých se ročenka bude odehrávat – tím pádem dny, kdy je dobré do hry přijít, pokud tě právě ročenka zajímá.</p>
        </div>
    </div>
</div>


<%- include("partials/footer") %> 