body {
  background-color: #0f3460;
  text-align: center;
  margin: 0;
  color: #eeeeee;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html {
  padding: o;
  scroll-behavior: smooth;
}
hr {
  color: #16213e;
  border-top: 10px dotted;
  width: 12%;
  margin: 50px auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2.4rem;
  margin: 0 0 30px;
}

h3 {
  margin: 40px;
}
h4 {
  margin: 40px 0 20px;
}

.content {
  flex: 1;
}

p {
  line-height: 1.7;
}

a:link {
  text-decoration: none;
}

/* Navigation bar */

.navbar {
  background-color: #1a1a2e;
  padding: 25px;
  -webkit-box-shadow: 0px 6px 36px -1px rgba(11,11,20,0.9);
  -moz-box-shadow: 0px 6px 36px -1px rgba(11,11,20,0.9);
  box-shadow: 0px 6px 36px -1px rgba(11,11,20,0.9);
}

.navbar-brand {
  font-size: 3.3rem;
  font-family: "Satisfy", cursive;
  padding-left: 7%;
}

.navbar-nav {
  margin-left: 10%;
  width: 100%;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item {
  margin-right: 5%;
}

/* .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 40px;
} */

.social-tags-nav {
  font-size: 1.8rem;
  color: #0f3460;
}

/*Welcome Section*/

.welcome-section {
  line-height: 1.7;
  padding: 0;

}

.welcome-image{
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.3) 20%,rgba(22,33,62, 0.6) 70%, rgba(22,33,62, 1)95%), url("/images/img5.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 100vh;
}

.welcome-text {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 50%;
  margin-top: 70px;
  text-align: center;
  padding: 0 65px;
  font-size: 1.2rem;
}
.welcome-header{
  position: relative;
  opacity: 0;
  animation: appear 0.6s ease-in 0s forwards;
}
/* paragraph 1*/
.welcome-text :nth-child(2){
  position: relative;
  opacity: 0;
  animation: appear 0.6s ease-in 0.3s forwards;

}
/* paragraph 2*/
.welcome-text :nth-child(3){
  position: relative;
  opacity: 0;
  animation: appear 0.6s ease-in 0.6s forwards;

}
/* Nyní se nelze registrovath 3*/
.welcome-text :nth-child(4){
  position: relative;
  opacity: 0;
  animation: appear 0.6s ease-in 0.9s forwards;

}

@keyframes appear {
  0% {
    opacity: 0;
    left: -30px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

.welcome-carousel {
  padding: 40px 70px;
  margin: 20px;
}

.btn-registrate-now {
  background-color: #e94560;
  width: 23%;
  font-size: 1.5rem;
  padding: 13px;
  margin: 40px;
}

/* News carousel */

.news-carousel-section {
  padding: 100px 0;
  background-color: #16213e;
}

.news-carousel-item {
  padding: 20px 100px;
}
.news-carousel-heading {
  font-size: 1.5rem;
  margin: 20px 0 0;
  text-align: center;
}

.news-carousel .carousel-control-prev {
  padding-right: 30px;
}
.news-carousel .carousel-control-next {
  padding-left: 30px;
}

/* Feature section */
.align-left {
  text-align: left;
  padding-top: 50px;
}

.align-right {
  text-align: right;
  padding-top: 50px;
}

.features-section {
  background-color: #0f3460;
  padding: 50px 0;
}

.feature-img {
  width: 120%;
  border-radius: 100%;
  margin: auto;
}

.feature-img-left {
  position: relative;
  right: 30px;
}

.feature-heading {
  margin: 20px auto;
}
.feature-text {
  line-height: 1.8;
  padding: 30px;
}
/* hide img for mobile */
.middle-image-small-screen {
  display: none;
}

/* Trailer section */
.trailer-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #16213e;
}

.trailer {
  margin: 70px;
  width: 1000px;
  height: 550px;
}

footer {
  background-color: #1a1a2e;
  width: 100%;
  margin-top: auto;
  padding-bottom: 30px;
}
.social-tags {
  font-size: 3rem;
  padding: 40px;
}

footer a,
nav a {
  color: #2a5992;
}
.social-media-icon {
  margin: 10px;
  height: 50%;
  size: 8px;
}
.copyright {
  margin: 0;
  color: rgb(153, 153, 153);
}

/* NEWS */
.news {
  padding: 50px;
}

.post {
  text-align: justify;
  margin: 50px auto;
}
.post-header {
  text-align: left;
}
.post-info ul {
  padding: 10px 0;
  margin: 0 0;
}
.post-info-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.8rem;
  color: #eeeeeebd;
}

.post-info-item .far {
  margin-right: 10px;
}
.post-img {
  width: 100%;
  border: solid 5px #1a1a2e;
}

/* New Post */

.new-post-section {
  margin: 50px auto;
  text-align: left;
}
.new-post-section h2 {
  margin: 50px auto;
  padding: 0;
}

.btn-send-post {
  background-color: #e94560;
  border-color: #e94560;
}

.note-editing-area {
  background-color: #1a1a2e;
}

/* Login page */
#login {
  text-align: center;
}
.login-section {
  width: 350px;
  margin: 20px auto;
  padding: 20px 20px 40px;
  border-radius: 10px;
  background-color: #0f3460;
}

.login-input {
  margin-bottom: 20px;
}
.login-header {
  color: #eeeeee;
  font-size: 3.5rem;
  font-family: "Satisfy", cursive;
  margin: 100px 0;
}
.error-message {
  color: #e94560;
}
.btn-login {
  margin: 50px 0 10px;
}

/* HOW TO CONNECT SECTION */
.connect-section {
  width: 85%;
  margin: 0 auto 30px;
  text-align: justify;
}

.connection-heading {
  margin: 70px 0 70px;
}

.connect-section h5 {
  margin: 30px 0 20px;
}

.connect-img {
  display: block;
  margin: 20px auto;
  width: 70%;
}

.button-link {
  display: inline-block;
  color: #1a1a2e;
  background-color: #ffcc79;
  border: 1px solid #1a1a2e;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px 15px 0;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button-link:hover {
  background-color: #fde9c9;
}

/* GAME ACCOUNT REGISTRATION */
.img-registration {
  width: 450px;
  border-radius: 10px;
  border: 4px solid #0f3460;
  margin-top: -25px;
  margin-bottom: 30px;
}

.registration-section {
  margin: 20px auto;
  padding: 20px 20px 40px;
  border-radius: 10px;
  background-color: #0f3460;
}

.registration-section form {
  margin-top: 30px;
}
.registration-section form label {
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.input-description {
  font-size: 0.9rem;
  text-align: left;
  margin-top: -10px;
  color: rgb(153, 153, 153);
}

/* POST PAGE */

.post-galery-img {
  width: 90%;
  padding: 30px 0;
}
.post-section > img {
  margin: 50px 50px;
  width: 50%;
}
.post-section ul {
  text-align: left;
  padding: 0;
}
.post-section li {
  padding-left: 0;
}

.post-section .post {
  margin: 0 auto 80px;
}

/* ADMIN SECTION */
.admin-section {
  margin: 50px;
}
.admin-section a {
  margin: 40px 30px 0 0;
}
.admin-icon {
  font-size: 5rem;
  display: block;
}

/* REGISTERED PLAYERS SECTION */
.registered-players-section {
  margin: 50px auto;
}
.registered-players-section table {
  color: #eeeeee;
}

.registered-players-section .table .thead-dark th {
  background-color: #1a1a2e;
}

/* RESPONSIVE DESIGN */

/* smaller PC */
@media only screen and (max-width: 1500px) {
  .welcome-header {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
    margin: 0 0 30px;
  }

  .navbar-brand {
    font-size: 2.8rem;
  }

  .nav-link {
    font-size: 1rem;
  }
  .nav-item {
    margin-right: 3%;
  }


  .welcome-text {
    font-size: 1rem;
  }

  .features-section {
    padding-left: 150px;
    padding-right: 150px;
  }

  .trailer {
    width: 900px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-registrate-now {
    font-size: 1.3rem;
    width: 25%;
  }

  .welcome-text{
    font-size: 1rem;
  }

  .welcome-header{
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .social-tags-nav {
    font-size: 1.2rem;
    color: #0f3460;
  }
  .navbar-nav{
    margin-left: 8%;
  }

  .navbar-brand{
    padding-left: 3%;
  }

}

@media only screen and (max-width: 1090px) {

}




/* Mobile phone */
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0 0 30px;
  }
  h3 {
    font-size: 1.2rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }
  .nav-item {
    margin-right: 3%;
  }


  .welcome-text {
    left: 0;
    width: 100%;
    font-size: 1rem;
    padding: 0 20px;
  }

  .welcome-text :nth-child(3){
    display: none;
  }
  .btn-registrate-now {
    font-size: 1rem;
    width: 49%;
  }

  .welcome-carousel {
    padding: 0;
  }

  .news-carousel {
    margin-top: -60px;
  }
  .news-carousel-section {
    padding: 40px 0;
  }

  .news-carousel-item {
    padding: 20px;
  }
  .news-carousel-heading {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .features-section {
    padding: 40px 0;
    padding-bottom: 40px;
  }

  .feature-img {
    width: 80%;
    margin: auto auto;
  }

  .align-left {
    padding: 0;
    text-align: center;
  }
  .align-right {
    padding: 0;
    text-align: center;
  }
  .middle-image-small-screen {
    display: block;
  }
  .middle-image-big-screen {
    display: none;
  }
  .feature-img-left {
    position: static;
  }

  .trailer-section {
    padding: 40px 0;
  }

  .trailer {
    width: 290px;
    height: 200px;
    margin: 0 auto;
  }

  .news {
    padding: 0 10px;
  }
  .post-header {
    margin-top: 20px;
  }

  .post-section img {
    width: 90%;
    margin: 25px auto;
    padding: 0;
  }

  .img-registration {
    width: 90%;
  }
  .login-header {
    margin: 70px 0;
  }
}
